# PSoC Creator generated folders
CortexM0/
Generated_Source/
codegentemp/
Export/

# Build and rebuild logs
BUILD
REBUILD

# Report files
*.rpt
*_timing*

# Temporary / user files
*.tmp
*.log

# OS files
Thumbs.db
desktop.ini
